<form action="/" method="post">

  <img src="/favicon.png" alt="" width="100" height="100" />

  <br />
  <br />

  <h1><%= IPMI_NAME %> launcher</h1>

  <p>The system is currently switched <%= powerState ? 'on' : 'off' %>.</p>

  <div class="input-group">
    <button type="submit" name="power" value="<%= powerState ? '0' : '1' %>" onclick="return confirm(this.innerText + '?');" class="btn btn-<%= powerState ? 'danger' : 'success' %>">
      Power <%= powerState ? 'off' : 'on' %>
    </button>
  </div>

</form>
